<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">  
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The Checklist</title>

    <script src="https://unpkg.com/vue@next"></script><!--CDN-->
</head>
<body>
	<div id="app">
		<h1>Ma tout doux list</h1>
		<!--rentrer  du texte-->
		<!--<input type="text" v-model="message"/>
		<a href="#" @click="ajouterNote" v-if="message != '' ">Ajouter</a>
		{{message}}-->
		<!-- v-bind:title =msg apparait au survol du para
			v-for =boucle des elements-->
		<!--<p  v-bind:title="message" v-for="todo in todos" @click="inverser">
			{{todo}}
		</p>-->

			<!-- :key specifie l'element qui est cle de notre donnee-->
		<!--rendu declaratif //chaque element qui nous interesse -->
		<ajout @nouvellenote="ajouterNote"></ajout>
		<note v-for="todo in todos" v-bind:content="todo" @click="inverser"></note>
	</div>

	<script>
		const vm= Vue.createApp({//nouvelle instance de vue
			data(){//option
				return{
					todos:[
						"choco",
						"beurre",
						"farine"
					]
				}
			},
			methods:{
				inverser(){
					this.todos.reverse();//permet d'inverser un tbl en javascript
				},
				ajouterNote(message){
					this.todos.push(message);
				}
			}
		})
		vm.component('ajout',{
			props:[],
			data(){
				return{
					interne:'nouveau message'
				}
			},
			methods:{
				enregistementNote(){
					this.$emit('nouvellenote',this.interne)
				}
			},
			template:
			`<input type="text" v-model="interne"/>
				<a href="#" @click="enregistementNote" v-if="interne != '' ">Ajouter</a>
				{{interne}}`})
		vm.component('note',{
			props: ['content'],
			template:`<p> {{content}}</p>`
		});
		vm.mount('#app');//balise sur la quel elle doit se monter
	</script>
	
</body>
</html>
