<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">  
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TodoList</title>

    <script src="https://unpkg.com/vue@next"></script><!--CDN-->
</head>
<body>
	<div id="app">
		<h1>TodoList</h1>
		<ajout @nouvellenote="ajouterNote"></ajout> 
		<note v-for="todo in todos" v-bind:content="todo"></note>
	</div>

	<script>
		const vm= Vue.createApp({//nouvelle instance de vue
			data(){//option
				return{
					todos:[
						"tache1",
						"tache2",
						"tache3"
					]
				}
			},
			methods:{
				ajouterNote(message){
					this.todos.push(message);
				}
			}
		})
		vm.component('ajout',{
			props:[],
			//tout les event que l'on envois vers des composant parents
			emits: ['nouvellenote'],
			data(){
				return{
					interne:'une tache'
				}
			},
			methods:{//methods interne composante
				enregistementNote(){
					//event personnalisé
					this.$emit('nouvellenote',this.interne)
					this.interne= '';  
				}
			},
			template:
			`<input type="text" v-model="interne"/>
				<a href="#" @click="enregistementNote" v-if="interne != '' ">Ajouter</a>
				{{interne}}`})
		vm.component('note',{
			props: ['content'],
			template:`<p> {{content}}</p>`
		});
		vm.mount('#app');//balise sur la quel elle doit se monter
	</script>
	
</body >
</html>
